<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <script src="https://unpkg.com/vue@3"></script>
    <title>Learning Vue</title>
  </head>
  <body>
    <h1>Hello, Vue :)</h1>
    <div id="app">
      <div v-if="showBooks">
      <p>{{ title }} - {{ author }} - {{ age }}</p>
      </div>

      <!-- <button v-on:click="age++">Increase age</button>
      <button v-on:click="age--">Decrease age</button>

      <div @click="changeTitle('Oathbringer')">Change book title </div> -->
      <button @click="toggleShowBooks">
      <span v-if="showBooks">Hide Books</span>
      <span v-else>Show Books</span>
      <!-- <span v-if="!showBooks">Show Books</span> -->
    </button>

    <div v-show="showBooks">Currently Showing Books</div>

    </div>






<script src="js/app.js"></script>
  </body>
</html>
